<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">College Student Carpool<span> by KarPool</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="index.html">Find a Ride</a></li>
					<li><a href="index.html">Login</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Set Your KarPool</h2>
							<p>Just fill out the form and we'll do the rest</p>
						</header>


							<!-- booking form  -->
								<div class="col-xxs-12 col-xs-6 mt alternate">
									 <section>
										 <label for="class">I Want To</label>
										 <select class="cs-select cs-skin-border">
											 <option value="Offer Ride">Offer a Ride</option>
											 <option value="Find Ride">Find a Ride</option>
										 </select>
									 </section>
								 </div>

							 <div class="row">
								 <div class="col-xs-12 col-xs-12 mt">
									 <div class="input-field">
										 <label for="from">Current City:</label>
										 <input type="text" class="form-control" id="depart-Address" placeholder="University of Texas"/>
									 </div>
								 </div>

								 <div class="col-xs-12 col-xs-12 mt">
									 <div class="input-field">
										 <label for="from">Destination City:</label>
										 <input type="text" class="form-control" id="to-place" placeholder="Katy"/>
									 </div>
								 </div>

						 		 <div class="col-xxs-12 col-xs-6 mt alternate">
									 <section>
										 <label for="class">Seats Available</label>
										 <select class="cs-select cs-skin-border">
											 <option value="" disabled selected>0</option>
											 <option value="1">1</option>
											 <option value="2">2</option>
											 <option value="3">3</option>
										 </select>
									 </section>
								 </div>

								<div class="row">
								 <div class="col-xxs-12 col-xs-6 mt alternate">
									 <div class="input-field">
										 <label for="date-start">Departure Date:</label>
										 <input type="text" class="form-control" id="date-start" placeholder="mm/dd/yyyy hh:mm"/>
									 </div>
								 </div>

								 <div class="col-xxs-12 col-xs-6 mt alternate">
									 <div class="input-field">
										 <label for="date-end">Arrival Date:</label>
										 <input type="text" class="form-control" id="date-end" placeholder="mm/dd/yyyy hh:mm"/>
									 </div>
								 </div>

								 <div class="col-xs-12 col-xs-12 mt">
									 <div class="input-field">
										 <label for="from">Set Cost for Riders:</label>
										 <input type="text" class="form-control" id="from-place" placeholder="$10"/>
									 </div>
								</div>
		<div id="search">
			<a href="/api/postride"><button type="button" id="submit">Send Ride</button></a>
		</div>
