
<div class="entry">
  {{#if user}}
    <p>Hello, {{user.displayName}}. View your <a href="/profile">profile</a>.</p>
  {{else}}
    <p>HBS Welcome! Please <a href="/login">log in</a>. </p>
  {{/if}}
</div>
