<!-- Header -->
  <header id="header">
    <div class="logo"><a href="index.html">Student Car pool Services <span>by Karpool</span></a></div>
    <a href="#menu"><span>Menu</span></a>
  </header>

<!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="index.html">Home</a></li>
      <li><a href="index.html">Find a Ride</a></li>
      <li><a href="index.html">Login</a></li>
    </ul>
  </nav>

<!-- Banner -->
<!--
  Note: To show a background image, set the "data-bg" attribute below
  to the full filename of your image. This is used in each section to set
  the background image.
-->
  <section id="banner" class="bg-img" data-bg="banner.jpg">
    <div class="inner">
      <header>
        <h1>KarPool </h1>
        <h3>For the students by the students</h3>
      </header>
    </div>
    <a href="#one" class="more">Learn More</a>
  </section>

<!-- One -->
  <section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
    <div class="inner">
      <article class="box">
        <header>
          <h2>Find a ride now</h2>
          <p>Just fill out the form and we'll do the rest</p>
        </header>
        <div class="content">
          <p>The hassel of going back home now is no more. Find a ride back home with your class mates with vehicles. Your classmates are willing to take you home if you can pitch in with gas money. They are willing to share their playlist too! Find out if theres a ride available or click here to provide a ride.</p>
        </div>

          <!-- booking form  -->
           <div class="row">
             <div class="col-xs-12 col-xs-12 mt">
               <div class="input-field">
                 <label for="from">Current City:</label>
                 <input type="text" class="form-control" id="from-place" placeholder="University of Texas"/>
               </div>
             </div>

             <div class="col-xs-12 col-xs-12 mt">
               <div class="input-field">
                 <label for="from">Destination City:</label>
                 <input type="text" class="form-control" id="to-place" placeholder="Katy"/>
               </div>
             </div>
            </div>

            <div class="row">
             <div class="col-xxs-12 col-xs-6 mt alternate">
               <div class="input-field">
                 <label for="date-start">Departure date</label>
                 <input type="text" class="form-control" id="date-start" placeholder="mm/dd/yyyy"/>
               </div>
             </div>

             <div class="col-xxs-12 col-xs-6 mt alternate">
               <div class="input-field">
                 <label for="date-end">Return date</label>
                 <input type="text" class="form-control" id="date-end" placeholder="mm/dd/yyyy"/>
               </div>
             </div>
           </div>

            <div class="row">
             <div class="col-xxs-6 col-xs-6 mt">
               <section>
                 <label for="class">Bringing friends?</label>
                 <select class="cs-select cs-skin-border">
                   <option value="" disabled selected>0</option>
                   <option value="1">1</option>
                   <option value="2">2</option>
                   <option value="3">3</option>
                 </select>
               </section>
             </div>
           </div>

  <footer>
    <a href="generic.html" class="button alt">Search now</a>
  </footer>
      </article>
    </div>
    <a href="#two" class="more">Learn More</a>
  </section>

<!-- Two -->
  <section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
    <div class="inner">
      <article class="box">
        <header>
          <h2>Two way Authentication</h2>
          <p>Utexas email || Facebook Authentication and social media presence check </p>
        </header>
        <div class="content">
          <p>By using University of Texas email address and Facebook authentication users decrese their chances of unfriendly encounters that may arise when we use alternate forms of transportation. By using facebook and talking to your student share host we have the opprtnity to create bonds and friendships with people that are part of our community at school and to our local cities.</p>
        </div>
        <footer>
          <a href="generic.html" class="button alt">Learn More</a>
        </footer>
      </article>
    </div>
    <a href="#three" class="more">Learn More</a>
  </section>

<!-- Three -->
  <section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
    <div class="inner">
      <article class="box">
        <header>
          <h2>Thursday night Meetups</h2><img src="images/meet.png" alt="Meetup">
        </header>
        <div class="content">
          <p>Come out to meet your KarPool hosts. We meet at UT LANES bowling alley on W. 13th @ Lavaca st. every Second Thursdays. Get a chance to meet your hosts before hand so you can decide on maps, music, food and more for the ride.  </p>
        </div>
        <footer>
          <a href="generic.html" class="button alt">Meetup</a>
        </footer>
      </article>
    </div>
    <a href="#four" class="more">Meet Up!</a>
  </section>

<!-- Four -->
  <section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
    <div class="inner">
      <article class="box">
        <header>
          <h2>Donate now</h2>
          <p>Help fund this service now</p>
        </header>
        <div class="content">
          <p>All donations will go towards IT infrastruture, Hosting cost, and Meetups spending. </p>
        </div>
        <footer>
          <a href="generic.html" class="button alt">Pitch in!</a>
        </footer>
      </article>
    </div>
  </section>

<!-- Footer -->
  <footer id="footer">
    <div class="inner">

      <h2>Contact Us</h2>

      <form action="#" method="post">

        <div class="field half first">
          <label for="name">Name</label>
          <input name="name" id="name" type="text" placeholder="Name">
        </div>
        <div class="field half">
          <label for="email">Email</label>
          <input name="email" id="email" type="email" placeholder="Email">
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
        </div>
        <ul class="actions">
          <li><input value="Send Message" class="button alt" type="submit"></li>
        </ul>
      </form>

      <ul class="icons">
        <li><a href="https://twitter.com/UTAustin" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/UTAustinTX/" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/utaustintx/?hl=en" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
      </ul>

      <div class="copyright">
        &copy; KarPool. Design: <a href="https://karpool.car">KarPool</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
      </div>

    </div>
  </footer>
